.ColorBox{
    display: inline-block;
    position: relative;
    width: 20%;
    height: 25%;
}

.btn-cpy{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    outline: none;
    background: rgba(255, 255, 255, 0.3);
    border: none;
    font-size: 1.2rem;
    opacity: 0;
}

.ColorBox:hover .btn-cpy{
    opacity: 1;
}

.color-title{
    position: absolute;
    bottom: 0;
    left: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 5px;
    font-size: 12px;
}

.seemore{
    color: white;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.3);
    padding: 5px;
}

.overlay{
    position: fixed;
    opacity: 0;
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    transform: scale(0.1);
}

.overlay.expand{
    display: fixed;
    transform: scale(1);
    text-align: center;
    opacity: 1;
    z-index: 25;
    transition: all 0.4s ease-in-out;
    transition-delay: 0.3s;
}

.overlay h1{
    width: 100%;
    background: rgba(255, 255, 255, 0.3);
}

.overlay p{
    font-weight: 100;
    font-size: 2rem;
}


